.contactcontainer .contactform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 800px;
  width: 70%;
  margin-left: 15%;
}
.contactcontainer .contactform .textFields {
  width: 100%;
  height: 60px;
  margin-bottom: 21px;
  border: none;
  background-color: #F5F5F5;
}
.contactcontainer .contactform .textFieldsMessages {
  width: 100%;
  height: 199px;
  margin-bottom: 21px;
  border: none;
  background-color: #F5F5F5;
}
.contactcontainer .contactform .map {
  width: 400px;
  height: 637px;
  margin-top: 60px;
}
.contactcontainer .contactform .map .mapimage {
  width: 100%;
  height: 442px;
  margin-bottom: 34px;
  background-image: url(../images/map.jpg);
}
.contactcontainer .contactform .map .mapaddress {
  width: 100%;
  height: 161px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}
.contactcontainer .contactform .contactboxes {
  width: 470px;
  height: 600px;
  margin-top: 60px;
}
.contactcontainer .contactform .sendmessagebutton {
  font-size: 16px;
  padding: 20px 20px;
  background-color: #EE4367;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  width: 35%;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .containerfive {
    height: 1200px;
  }
  .containerfive .contactform {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerfive .contactform .sendmessagebutton {
    width: 35%;
  }
}