.specialtitle {
  font-size: 45px;
  color: #d0b2aa;
  padding-top: 109px;
  margin-left: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 20%;
  border-bottom: 3px solid #987272;
  font-style: italic;
}