.containermenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    background-color: #987272;
    .leftpara3{
        height: 380px;
        width: 100%;
        .titleofpara3{
            padding-left: 5px;
            font-size: 30px;
            color: #9fd4c7;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            font-style: italic;
        }
        .leftparaedit{
            padding-left: 5px;
            font-size: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-top: 50px;
            width: 85%;
            color: #9fd4c7;
        }
    }

    .rightimage3{
        .Choco{
            background-image: url(../images/ChocoChip.jpg);
            width: 350px;
            height: 450px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

@media screen and (max-width: 800px) {
    .containermenu {
    flex-direction: column;
      width: 100%;
      height: 100%;

      .titleofpara3{
        text-align: center;
    }

        .leftparaedit{
            margin: 0 auto;
           text-align: center;
        }

       .rightimage3{
        margin-bottom: 10px;
    }
    }
  }