.paragraphinfo{
    padding: 4%;
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #987272;
    background-color: #fff3dc;
    width: 100%;
}